openapi: 3.0.0
info:
  version: 1.0.0
  title: Pinata Farcaster API
servers:
  - url: 'https://api.pinata.cloud/v3/farcaster'
paths:
  '/casts/{hash}':
    get:
      tags:
        - default
      summary: Cast by Hash
      parameters:
        - name: hash
          in: path
          description: The full hash of the cast you want to fetch
          required: true
          schema:
            type: string
            example: '0x48895560a708870f4833207152dc2ab9427f8a55'
          examples:
            default:
              value: '0x48895560a708870f4833207152dc2ab9427f8a55'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    cast:
                      author:
                        active_status: inactive
                        custody_address: '0x456131161f83c7d7fda15b32a5f7c21fd4e27e96'
                        display_name: Steve
                        fid: 6023
                        follower_count: 5095
                        following_count: 936
                        object: user
                        pfp_url: >-
                          https://p765cpbvm0.execute-api.eu-central-1.amazonaws.com/p1/renderer/Minteeble/chain/base/collection/6e0b39a5-8569-4e67-b330-d352593c9629/image/176.png
                        power_badge: true
                        profile:
                          bio:
                            mentioned_profiles: []
                            text: >-
                              Head of Developer Relations at /pinata | Technical
                              Writer | Building honeythread.xyz | Tinkering
                              Photocaster | stevedylan.dev/links
                        username: stevedylandev.eth
                        verifications:
                          - '0xad73eafcac4f4c6755dfc61770875fb8b6bc8a25'
                        verified_addresses:
                          eth_addresses:
                            - '0xad73eafcac4f4c6755dfc61770875fb8b6bc8a25'
                          sol_addresses: []
                      embeds:
                        - cast_id:
                            fid: 6023
                            hash: '0x4579466d6555e3d42a9fc579c3763342f85292fb'
                        - url: http://dietcast.xyz
                      frames:
                        - buttons:
                            - action_type: link
                              index: 1
                              target: https://dietcast.xyz
                              title: Visit
                            - action_type: link
                              index: 2
                              target: >-
                                https://www.pinata.cloud/blog/how-to-build-a-lite-client-with-the-pinata-farcaster-api
                              title: Tutorial
                            - action_type: link
                              index: 3
                              target: https://github.com/PinataCloud/diet-cast
                              title: Repo
                          frames_url: http://dietcast.xyz
                          image: >-
                            https://dweb.mypinata.cloud/ipfs/QmYZArEWBaAosWP1XRAB1zLK1kK7zScia4rHbv62xKs3zo?filename=og.png
                          input: {}
                          state: {}
                          title: Diet Cast
                          version: vNext
                      hash: '0x48895560a708870f4833207152dc2ab9427f8a55'
                      mentioned_profiles: []
                      object: cast
                      parent_author:
                        fid: null
                      parent_hash: null
                      parent_url: https://warpcast.com/~/channel/fc-devs
                      reactions:
                        likes:
                          - fid: 646
                            fname: 0xshash
                          - fid: 394037
                            fname: kis201
                          - fid: 249109
                            fname: scottcooper
                          - fid: 3621
                            fname: portlymerchant.eth
                          - fid: 2902
                            fname: falcon
                        likes_count: 9
                        recasts:
                          - fid: 3621
                            fname: portlymerchant.eth
                        recasts_count: 1
                      replies:
                        count: 1
                      root_parent_url: https://warpcast.com/~/channel/fc-devs
                      text: >-
                        New lite client is live! Check out how we made it with the
                        tutorial and open source repo linked in the frame 🥤 
                        dietcast.xyz
                      thread_hash: '0x48895560a708870f4833207152dc2ab9427f8a55'
                      timestamp: '2024-04-30T15:16:27.000Z'
          headers:
            Date:
              schema:
                type: string
                example: 'Thu, 07 Mar 2024 14:45:57 GMT'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 1190
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Request-Id:
              schema:
                type: string
                example: 71fd2728094f11bd4fce115cc2e5c34c
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
    delete:
      tags:
        - default
      summary: Delete Cast
      parameters:
        - name: signerId
          in: query
          description: Signer ID for the author of the cast
          required: true
          schema:
            type: string
            example: e5cf5d84-7671-4402-8df0-84b0efdc24cd
          examples:
            default:
              value: e5cf5d84-7671-4402-8df0-84b0efdc24cd
        - name: hash
          in: path
          description: Hash for the cast to be deleted
          required: true
          schema:
            type: string
            example: '0xf4da10b7e1390d7b487ee6d343f51e9061212563'
          examples:
            default:
              value: '0xf4da10b7e1390d7b487ee6d343f51e9061212563'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    data:
                      data:
                        type: MESSAGE_TYPE_CAST_REMOVE
                        fid: 401191
                        timestamp: 102563506
                        network: FARCASTER_NETWORK_MAINNET
                        castAddBody:
                          embedsDeprecated: null
                          mentions: null
                      hash: '0x1ccade8ff46e21ddca30fdcbe0630265e2da9c7e'
                      hashScheme: HASH_SCHEME_BLAKE3
                      signature: 9byndiIE1CL62dYMhcsEQLxIKa1m4r+3Q3XZJpxFBwxn/CL+qHohD7ugFl3yru5ng3p08RJRbo+xzYYFtQqaDw==
                      signatureScheme: SIGNATURE_SCHEME_ED25519
                      signer: '0x86367a36c3c181c46acdc6027109dbaa75c5fbc97c500af23f1ea8c987f12375'
                      dataBytes: CAIQp74YGLL98zAgATIWChT02hC34TkNe0h+5tND9R6QYSElYw==
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: 'GET, POST, PUT, PATCH, DELETE, OPTIONS'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            X-Request-Id:
              schema:
                type: string
                example: 0c74d761-be9c-4436-bf38-b88830b19b2e
            Date:
              schema:
                type: string
                example: 'Tue, 02 Apr 2024 01:51:46 GMT'
            Content-Length:
              schema:
                type: integer
                example: 562
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
  /casts:
    get:
      tags:
        - default
      summary: Casts
      parameters:
        - name: fid
          in: query
          description: Returns casts from a specific FID
          schema:
            type: integer
            example: 4823
          examples:
            default:
              value: 4823
        - name: following
          in: query
          description: 'When used in combination of `fid` will return the casts for who that `fid` is following '
          schema:
            type: boolean
            example: true
          examples:
            default:
              value: true
        - name: reverse
          in: query
          description: 'Will reverse the results giving the most casts recent first'
          schema:
            type: boolean
            example: true
          examples:
            default:
              value: false
        - name: channel
          in: query
          description: Specify a channel to fetch casts from
          schema:
            type: string
            example: 'pinata'
          examples:
            default:
              value: 'pinata'
        - name: parentHash
          in: query
          description: Returns casts for a specific parent hash
          schema:
            type: string
            example: '0x0ab851ba8524eedf9e164b55f6eeec751f74b539'
          examples:
            default:
              value: '0x0ab851ba8524eedf9e164b55f6eeec751f74b539'
        - name: pageToken
          in: query
          description: Token to be used for the next page of results
          schema:
            type: string
            example: eyJvZmZzZXQiOiIwIn0
          examples:
            default:
              value: eyJvZmZzZXQiOiIwIn0
        - name: topLevel
          in: query
          description: Filter casts that have no parent hash
          schema:
            type: boolean
            example: true
          examples:
            default:
              value: true
        - name: pageSize
          in: query
          description: 'Determine the number of results, if not specified default is 100'
          schema:
            type: integer
            example: 10
          examples:
            default:
              value: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: Casts by FID
                  value:
                    casts:
                      - author:
                          active_status: inactive
                          custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                          display_name: Justin Hunter
                          fid: 4823
                          follower_count: 26787
                          following_count: 924
                          object: user
                          pfp_url: >-
                            https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                          power_badge: true
                          profile:
                            bio:
                              mentioned_profiles: []
                              text: >-
                                Writer. Building @pinatacloud. Tinkering with a
                                Farcaster native alternative to GoodReads:
                                https://readcast.xyz \
                                https://polluterofminds.com
                          username: polluterofminds
                          verifications:
                            - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                            - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                          verified_addresses:
                            eth_addresses:
                              - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                              - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                            sol_addresses: []
                        embeds:
                          - url: >-
                              https://x.com/matthew_d_green/status/1789687898863792453?s=46
                        hash: '0xddc971b2ae7188c739627cc3ff519f1a5ce0ffde'
                        mentioned_profiles: []
                        object: cast
                        parent_author:
                          fid: null
                        parent_hash: null
                        parent_url: https://warpcast.com/~/channel/privacy
                        reactions:
                          likes:
                            - fid: 2777
                              fname: alexbruno.eth
                            - fid: 533877
                              fname: bura7501
                            - fid: 288646
                              fname: sebek
                            - fid: 5491
                              fname: pauldowman.eth
                            - fid: 5016
                              fname: stas
                          likes_count: 7
                          recasts:
                            - fid: 533877
                              fname: bura7501
                            - fid: 5016
                              fname: stas
                          recasts_count: 2
                        replies:
                          count: 2
                        root_parent_url: https://warpcast.com/~/channel/privacy
                        text: >-
                          Telegram has never made much sense to me. But I’ve
                          largely resigned myself to having lost the battle in
                          crypto and am forced to use it daily.
                          https://x.com/matthew_d_green/status/1789687898863792453?s=46
                        thread_hash: '0xddc971b2ae7188c739627cc3ff519f1a5ce0ffde'
                        timestamp: '2024-05-13T13:30:18.000Z'
                    next:
                      cursor: >-
                        eyJ0aW1lc3RhbXAiOiIyMDI0LTA1LTEzIDEzOjMwOjE4LjAwMDAwMDAifQ%3D%3D
                example-1:
                  summary: Casts by Channel
                  value:
                    casts:
                      - author:
                          active_status: inactive
                          custody_address: '0x535077f17fa51a4f65924e87ac131152d8b5b350'
                          display_name: ‏
                          fid: 229150
                          follower_count: 9299
                          following_count: 327
                          object: user
                          pfp_url: https://i.imgur.com/yH5XzZj.png
                          power_badge: true
                          profile:
                            bio:
                              mentioned_profiles: []
                              text: >-
                                software engineer & cto - building /sukuri -
                                foss advocate - creator of /frame-token -
                                maxbridgland.twitter
                          username: maxbr
                          verifications:
                            - '0x44f6498d1403321890f3f2917e00f22dbde3577a'
                            - '0xf88e4a3af660ab09979a33c3c99e576244dda5af'
                          verified_addresses:
                            eth_addresses:
                              - '0x44f6498d1403321890f3f2917e00f22dbde3577a'
                              - '0xf88e4a3af660ab09979a33c3c99e576244dda5af'
                            sol_addresses: []
                        embeds:
                          - cast_id:
                              fid: 229150
                              hash: '0xf3f233c1ca2b2fa68d8803a90c29976953224234'
                        hash: '0xd1c32f0b14a4a1f489ef1ef98f140686f82da2e0'
                        mentioned_profiles: []
                        object: cast
                        parent_author:
                          fid: null
                        parent_hash: null
                        parent_url: https://warpcast.com/~/channel/pinata
                        reactions:
                          likes:
                            - fid: 5818
                              fname: adriennetenger.eth
                            - fid: 262634
                              fname: data-nerd
                            - fid: 367295
                              fname: aft3rparty.eth
                            - fid: 6023
                              fname: stevedylandev.eth
                            - fid: 4823
                              fname: polluterofminds
                          likes_count: 7
                          recasts: []
                          recasts_count: 0
                        replies:
                          count: 1
                        root_parent_url: https://warpcast.com/~/channel/pinata
                        text: >-
                          Big shoutout to /pinata for their Managed Farcaster
                          Auth system


                          I haven't been able to figure this out for months
                          until I came across their product tucked away in a
                          blogpost somewhere. Google needs to rank it higher
                        thread_hash: '0xd1c32f0b14a4a1f489ef1ef98f140686f82da2e0'
                        timestamp: '2024-05-11T17:19:35.000Z'
                    next:
                      cursor: >-
                        eyJ0aW1lc3RhbXAiOiIyMDI0LTA1LTExIDE3OjE5OjM1LjAwMDAwMDAifQ%3D%3D
          headers:
            Date:
              schema:
                type: string
                example: 'Sat, 09 Mar 2024 20:10:12 GMT'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 1696
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Request-Id:
              schema:
                type: string
                example: 7e395721013189607fb6d458e522efbd
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
    post:
      tags:
        - default
      summary: Send Cast
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                castAddBody:
                  type: object
                  properties:
                    text:
                      type: string
                    parentUrl:
                      type: string
                    embeds:
                      type: array
                      items:
                        type: object
                        properties:
                          url:
                            type: string
                          castId:
                            type: object
                            properties:
                              fid:
                                type: integer
                              hash:
                                type: string
                    mentions:
                      type: array
                      items:
                        type: integer
                    mentionsPositions:
                      type: array
                      items:
                        type: integer
                    parentCastId:
                      type: object
                      properties:
                        fid:
                          type: integer
                        hash:
                          type: string
                signerId:
                  type: string
              x-examples:
                Example 1:
                  castAddBody:
                    text: Hello World!
                    parentUrl: 'https://warpcast.com/~/channel/pinata'
                    embeds:
                      - url: 'https://dweb.mypinata.cloud/ipfs/QmYSzs7WczucVrPN2CZcZeEzyGRDrxrFEWGtYA32jz2L3U?filename=sendit.gif'
                      - castId:
                          fid: 6023
                          hash: '0xb3668292af912397fad6b8457223e75c04221992'
                    mentions:
                      - 6023
                    mentionsPositions:
                      - 2
                    parentCastId:
                      fid: 6023
                      hash: '0xb3668292af912397fad6b8457223e75c04221992'
                  signerId: e5cf5d84-7671-4402-8df0-84b0efdc24cd
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    data:
                      data:
                        type: MESSAGE_TYPE_CAST_ADD
                        fid: 401191
                        timestamp: 102505958
                        network: FARCASTER_NETWORK_MAINNET
                        castAddBody:
                          embedsDeprecated: []
                          mentions: []
                          text: Hello World!
                          mentionsPositions: []
                          embeds: []
                      hash: '0xb3668292af912397fad6b8457223e75c04221992'
                      hashScheme: HASH_SCHEME_BLAKE3
                      signature: U40EB6YqZNI/AdNrXLyk7jjh+U/XdHe6fWTX28IDX6PJQTfG+7cJX/dUtrOzNfvCojEUqaaks3a+oPBPU7jVAw==
                      signatureScheme: SIGNATURE_SCHEME_ED25519
                      signer: '0x86367a36c3c181c46acdc6027109dbaa75c5fbc97c500af23f1ea8c987f12375'
                      dataBytes: CAEQp74YGOa78DAgASoOIgxIZWxsbyBXb3JsZCE=
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: 'GET, POST, PUT, PATCH, DELETE, OPTIONS'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            X-Request-Id:
              schema:
                type: string
                example: da219420-e592-4727-81a9-2261cbf379c8
            Date:
              schema:
                type: string
                example: 'Mon, 01 Apr 2024 09:52:39 GMT'
            Content-Length:
              schema:
                type: integer
                example: 600
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
  '/casts/{hash}/reactions/{type}':
    post:
      tags:
        - default
      summary: Add Reaction to Cast
      parameters:
        - name: signerId
          in: query
          description: Signer ID for the user that will react to the cast
          required: true
          schema:
            type: string
            example: e5cf5d84-7671-4402-8df0-84b0efdc24cd
          examples:
            default:
              value: e5cf5d84-7671-4402-8df0-84b0efdc24cd
        - name: hash
          in: path
          description: Hash for the target cast
          required: true
          schema:
            type: string
            example: '0x5e6116e836746bb0264b217435f6668d9c9259bd'
          examples:
            default:
              value: '0x5e6116e836746bb0264b217435f6668d9c9259bd'
        - name: type
          in: path
          description: 'The type of reaction, can be either "like" or "recast"'
          required: true
          schema:
            type: string
            example: like
          examples:
            default:
              value: like
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    data:
                      data:
                        type: MESSAGE_TYPE_REACTION_ADD
                        fid: 401191
                        timestamp: 102564007
                        network: FARCASTER_NETWORK_MAINNET
                        castAddBody:
                          embedsDeprecated: null
                          mentions: null
                      hash: '0xe1d3327a7d00a23e76207bbf8ef6ca17b9c39d9c'
                      hashScheme: HASH_SCHEME_BLAKE3
                      signature: AYW+pBiRxszYDilJ2RUkeNarIgzUDFpuYc5cSlGk2lSgVa4yubiqfqArsqHxIXtzjRgHODN8E8qGClyuxMkbAg==
                      signatureScheme: SIGNATURE_SCHEME_ED25519
                      signer: '0x86367a36c3c181c46acdc6027109dbaa75c5fbc97c500af23f1ea8c987f12375'
                      dataBytes: CAMQp74YGKeB9DAgATodCAESGQiHLxIUXmEW6DZ0a7AmSyF0NfZmjZySWb0=
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: 'GET, POST, PUT, PATCH, DELETE, OPTIONS'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            X-Request-Id:
              schema:
                type: string
                example: 5a725c5b-e124-4244-8854-2b35610fb2e4
            Date:
              schema:
                type: string
                example: 'Tue, 02 Apr 2024 02:00:07 GMT'
            Content-Length:
              schema:
                type: integer
                example: 571
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
    delete:
      tags:
        - default
      summary: Delete Reaction to Cast
      parameters:
        - name: signerId
          in: query
          description: Signer ID for the user that will remove reaction to the cast
          required: true
          schema:
            type: string
            example: e5cf5d84-7671-4402-8df0-84b0efdc24cd
          examples:
            default:
              value: e5cf5d84-7671-4402-8df0-84b0efdc24cd
        - name: hash
          in: path
          description: Hash for the target cast
          required: true
          schema:
            type: string
            example: '0x5e6116e836746bb0264b217435f6668d9c9259bd'
          examples:
            default:
              value: '0x5e6116e836746bb0264b217435f6668d9c9259bd'
        - name: type
          in: path
          description: 'The type of reaction, can be either "like" or "recast"'
          required: true
          schema:
            type: string
            example: like
          examples:
            default:
              value: like
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    data:
                      data:
                        type: MESSAGE_TYPE_REACTION_REMOVE
                        fid: 401191
                        timestamp: 102564096
                        network: FARCASTER_NETWORK_MAINNET
                        castAddBody:
                          embedsDeprecated: null
                          mentions: null
                      hash: '0x6df38d410d8c63d3dd9514ffc463d0b7690194c5'
                      hashScheme: HASH_SCHEME_BLAKE3
                      signature: CKC9iuQ2UbJDdiOF49ZuBkXuwaAZDyYjDBnPjuVrM9hnNP2jO3e19icwqh+kgCvxoTExahvYkBVBDA38pcwmBQ==
                      signatureScheme: SIGNATURE_SCHEME_ED25519
                      signer: '0x86367a36c3c181c46acdc6027109dbaa75c5fbc97c500af23f1ea8c987f12375'
                      dataBytes: CAQQp74YGICC9DAgATodCAESGQiHLxIUXmEW6DZ0a7AmSyF0NfZmjZySWb0=
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: 'GET, POST, PUT, PATCH, DELETE, OPTIONS'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            X-Request-Id:
              schema:
                type: string
                example: 7e7f6589-7038-4348-b428-e3f80eecaed2
            Date:
              schema:
                type: string
                example: 'Tue, 02 Apr 2024 02:01:36 GMT'
            Content-Length:
              schema:
                type: integer
                example: 574
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
  /channels:
    get:
      tags:
        - default
      summary: Channels List
      parameters:
        - name: pageSize
          in: query
          description: 'Determine the number of results, if not specified default is 100'
          schema:
            type: integer
            example: 1
          examples:
            default:
              value: 1
        - name: pageToken
          in: query
          description: Token to be used for the next page of results
          schema:
            type: string
            example: eyJvZmZzZXQiOiIxMyJ9
          examples:
            default:
              value: eyJvZmZzZXQiOiIxMyJ9
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    channels:
                      - created_at: 1715609736
                        description: a place for sharing and discussing longform stories online
                        follower_count: 1
                        hosts:
                          - active_status: inactive
                            custody_address: '0xb6620b05a422658688d57b5158d464dea912879d'
                            display_name: Vinay Vasanji
                            fid: 1082
                            follower_count: 2800
                            following_count: 1237
                            notes:
                              active_status: >-
                                Warpcast has transitioned from active badges to
                                power badges, Neynar will deprecate this key in the
                                user object in the next few weeks
                            object: user
                            pfp_url: https://i.imgur.com/7y4JRTk.jpg
                            power_badge: true
                            profile:
                              bio:
                                text: >-
                                  /cryptocandies founder everyname.xyz (acq.)
                                  cofounder humanetics.super.site
                            username: vinayvasanji.eth
                            verifications:
                              - '0x12c6920a4acc4dae6b3992903a48adcbffe5dc5e'
                            verified_addresses:
                              eth_addresses:
                                - '0x12c6920a4acc4dae6b3992903a48adcbffe5dc5e'
                              sol_addresses:
                                - BheMt83LxwReoARkU4Q4cE67ksZzA7Rf9E3ABdVZpUEy
                        id: longreads
                        image_url: https://i.imgur.com/AMxg3Jh.png
                        lead:
                          active_status: inactive
                          custody_address: '0xb6620b05a422658688d57b5158d464dea912879d'
                          display_name: Vinay Vasanji
                          fid: 1082
                          follower_count: 2800
                          following_count: 1237
                          notes:
                            active_status: >-
                              Warpcast has transitioned from active badges to power
                              badges, Neynar will deprecate this key in the user
                              object in the next few weeks
                          object: user
                          pfp_url: https://i.imgur.com/7y4JRTk.jpg
                          power_badge: true
                          profile:
                            bio:
                              text: >-
                                /cryptocandies founder everyname.xyz (acq.)
                                cofounder humanetics.super.site
                          username: vinayvasanji.eth
                          verifications:
                            - '0x12c6920a4acc4dae6b3992903a48adcbffe5dc5e'
                          verified_addresses:
                            eth_addresses:
                              - '0x12c6920a4acc4dae6b3992903a48adcbffe5dc5e'
                            sol_addresses:
                              - BheMt83LxwReoARkU4Q4cE67ksZzA7Rf9E3ABdVZpUEy
                        name: longreads
                        object: channel
                        parent_url: https://warpcast.com/~/channel/longreads
                        url: https://warpcast.com/~/channel/longreads
                    next:
                      cursor: eyJwYWdlIjoyfQ%3D%3D
          headers:
            Date:
              schema:
                type: string
                example: 'Sat, 09 Mar 2024 20:11:20 GMT'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 296
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Request-Id:
              schema:
                type: string
                example: f7dbd4cc572c4c5fe673a7be66311f65
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
  '/channels/{name}':
    get:
      tags:
        - default
      summary: Channel By Name
      parameters:
        - name: name
          in: path
          description: Display name for the channel you are trying to fetch
          required: true
          schema:
            type: string
            example: pinata
          examples:
            default:
              value: pinata
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    channel:
                      created_at: 1706890562
                      description: >-
                        Build on IPFS and Farcaster at Scale |
                        https://docs.pinata.cloud/farcaster/farcaster-api/getting-started
                      follower_count: 544
                      hosts:
                        - active_status: inactive
                          custody_address: '0x62402434701e0ce0ae4ea4b3caf68230a6ddbe43'
                          display_name: Kyle Tut
                          fid: 20591
                          follower_count: 473
                          following_count: 22
                          notes:
                            active_status: >-
                              Warpcast has transitioned from active badges to power
                              badges, Neynar will deprecate this key in the user
                              object in the next few weeks
                          object: user
                          pfp_url: https://i.imgur.com/TLMFnH6.jpg
                          power_badge: true
                          profile:
                            bio:
                              text: >-
                                Everyone is from somewhere. Cofounder and CEO of
                                Pinata. https://www.pinata.cloud/farcaster
                          username: kyletut
                          verifications:
                            - '0x5ba9355a10611ed4339526472a59befed3549bad'
                          verified_addresses:
                            eth_addresses:
                              - '0x5ba9355a10611ed4339526472a59befed3549bad'
                            sol_addresses: []
                        - active_status: inactive
                          custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                          display_name: Justin Hunter
                          fid: 4823
                          follower_count: 26787
                          following_count: 924
                          notes:
                            active_status: >-
                              Warpcast has transitioned from active badges to power
                              badges, Neynar will deprecate this key in the user
                              object in the next few weeks
                          object: user
                          pfp_url: >-
                            https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                          power_badge: true
                          profile:
                            bio:
                              text: >-
                                Writer. Building @pinatacloud. Tinkering with a
                                Farcaster native alternative to GoodReads:
                                https://readcast.xyz \ https://polluterofminds.com
                          username: polluterofminds
                          verifications:
                            - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                            - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                          verified_addresses:
                            eth_addresses:
                              - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                              - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                            sol_addresses: []
                        - active_status: inactive
                          custody_address: '0x456131161f83c7d7fda15b32a5f7c21fd4e27e96'
                          display_name: Steve
                          fid: 6023
                          follower_count: 5095
                          following_count: 937
                          notes:
                            active_status: >-
                              Warpcast has transitioned from active badges to power
                              badges, Neynar will deprecate this key in the user
                              object in the next few weeks
                          object: user
                          pfp_url: >-
                            https://p765cpbvm0.execute-api.eu-central-1.amazonaws.com/p1/renderer/Minteeble/chain/base/collection/6e0b39a5-8569-4e67-b330-d352593c9629/image/176.png
                          power_badge: true
                          profile:
                            bio:
                              text: >-
                                Head of Developer Relations at /pinata | Technical
                                Writer | Building honeythread.xyz | Tinkering
                                Photocaster | stevedylan.dev/links
                          username: stevedylandev.eth
                          verifications:
                            - '0xad73eafcac4f4c6755dfc61770875fb8b6bc8a25'
                          verified_addresses:
                            eth_addresses:
                              - '0xad73eafcac4f4c6755dfc61770875fb8b6bc8a25'
                            sol_addresses: []
                      id: pinata
                      image_url: https://i.imgur.com/u4mGk5b.gif
                      lead:
                        active_status: inactive
                        custody_address: '0x62402434701e0ce0ae4ea4b3caf68230a6ddbe43'
                        display_name: Kyle Tut
                        fid: 20591
                        follower_count: 473
                        following_count: 22
                        notes:
                          active_status: >-
                            Warpcast has transitioned from active badges to power
                            badges, Neynar will deprecate this key in the user
                            object in the next few weeks
                        object: user
                        pfp_url: https://i.imgur.com/TLMFnH6.jpg
                        power_badge: true
                        profile:
                          bio:
                            text: >-
                              Everyone is from somewhere. Cofounder and CEO of
                              Pinata. https://www.pinata.cloud/farcaster
                        username: kyletut
                        verifications:
                          - '0x5ba9355a10611ed4339526472a59befed3549bad'
                        verified_addresses:
                          eth_addresses:
                            - '0x5ba9355a10611ed4339526472a59befed3549bad'
                          sol_addresses: []
                      name: pinata
                      object: channel
                      parent_url: https://warpcast.com/~/channel/pinata
                      url: https://warpcast.com/~/channel/pinata
          headers:
            Date:
              schema:
                type: string
                example: 'Wed, 06 Mar 2024 18:56:33 GMT'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 252
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Request-Id:
              schema:
                type: string
                example: a752e5f91d68dee584286e893eea6398
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
  '/users/{fid}':
    get:
      tags:
        - default
      summary: User By FID
      parameters:
        - name: fid
          in: path
          description: FID for the user you are trying to fetch
          required: true
          schema:
            type: integer
            example: 4823
          examples:
            default:
              value: 4823
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    user:
                      active_status: inactive
                      custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                      display_name: Justin Hunter
                      fid: 4823
                      follower_count: 26787
                      following_count: 924
                      object: user
                      pfp_url: >-
                        https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                      power_badge: true
                      profile:
                        bio:
                          mentioned_profiles: []
                          text: >-
                            Writer. Building @pinatacloud. Tinkering with a
                            Farcaster native alternative to GoodReads:
                            https://readcast.xyz \ https://polluterofminds.com
                      username: polluterofminds
                      verifications:
                        - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                        - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                      verified_addresses:
                        eth_addresses:
                          - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                          - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                        sol_addresses: []
          headers:
            Date:
              schema:
                type: string
                example: 'Wed, 06 Mar 2024 18:47:00 GMT'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 674
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Request-Id:
              schema:
                type: string
                example: 6529728aebb6ebf8b575c502cc4c4a4e
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
  /users:
    get:
      tags:
        - default
      summary: Users
      parameters:
        - name: fid
          in: query
          description: Used in combination with `followers` and `following`
          schema:
            type: integer
            example: 4823
          examples:
            default:
              value: 4823
        - name: followers
          in: query
          description: When used with `fid` will return the followers of the specified `fid`
          schema:
            type: boolean
            example: true
          examples:
            default:
              value: true
        - name: following
          in: query
          description: When used with `fid` will return the users `fid` is following
          schema:
            type: boolean
            example: true
          examples:
            default:
              value: true
        - name: pageSize
          in: query
          description: 'Determine the number of results, if not specified default is 100'
          schema:
            type: integer
            example: 1
          examples:
            default:
              value: 1
        - name: pageToken
          in: query
          description: Token to be used for the next page of results
          schema:
            type: string
            example: eyJvZmZzZXQiOiIyMyJ9
          examples:
            default:
              value: eyJvZmZzZXQiOiIyMyJ9
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: Users FID is Following
                  value:
                    next:
                      cursor: >-
                        eyJ0aW1lc3RhbXAiOiIyMDI0LTA1LTE0IDE2OjAyOjUzLjAwMDAwMDAiLCJmaWQiOjUzMDM1OH0%3D
                    users:
                      - object: follow
                        user:
                          active_status: inactive
                          custody_address: '0x23cb10e59422eb93ababff06401eec0691cb95b8'
                          display_name: Abimbola
                          fid: 530358
                          follower_count: 300
                          following_count: 554
                          notes:
                            active_status: >-
                              Warpcast has transitioned from active badges to
                              power badges, Neynar will deprecate this key in
                              the user object in the next few weeks
                          object: user
                          pfp_url: >-
                            https://imagedelivery.net/BXluQx4ige9GuW0Ia56BHw/0e1f6e5a-ae62-4548-0f42-197ec91d6500/rectcrop3
                          power_badge: false
                          profile:
                            bio:
                              text: >-
                                I'm a sweet girl that love Jesus, An ambitious
                                lady and a big purrrr
                          username: '!530358'
                          verifications:
                            - '0x4e71e0f4216924c995d43465ac0bb3d5967e764e'
                          verified_addresses:
                            eth_addresses:
                              - '0x4e71e0f4216924c995d43465ac0bb3d5967e764e'
                            sol_addresses: []
                example-1:
                  summary: Users Following FID
                  value:
                    next:
                      cursor: >-
                        eyJ0aW1lc3RhbXAiOiIyMDI0LTA1LTEzIDIxOjE5OjA1LjAwMDAwMDAiLCJ0YXJnZXRfZmlkIjoiMzg2MjAzIn0%3D
                    users:
                      - object: follow
                        user:
                          active_status: inactive
                          custody_address: '0x24ec13c7ea2fa85d8877ee02cde022027d8db50c'
                          display_name: kree
                          fid: 386203
                          follower_count: 9
                          following_count: 72
                          notes:
                            active_status: >-
                              Warpcast has transitioned from active badges to
                              power badges, Neynar will deprecate this key in
                              the user object in the next few weeks
                          object: user
                          pfp_url: https://i.imgur.com/1Tq5MTE.jpg
                          power_badge: false
                          profile:
                            bio:
                              text: |-
                                chris flattum 
                                                @warpshop
                                                                                      somewhere in europe coding on my laptop! 
                          username: cflattum
                          verifications:
                            - '0x80c1b48220a72d7eaf6f7b170fbe6da96be8177b'
                          verified_addresses:
                            eth_addresses:
                              - '0x80c1b48220a72d7eaf6f7b170fbe6da96be8177b'
                            sol_addresses: []
          headers:
            Date:
              schema:
                type: string
                example: 'Sat, 09 Mar 2024 20:12:29 GMT'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 826
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Request-Id:
              schema:
                type: string
                example: cd963fc058d81cdd4c367b44f8e9da52
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
  '/follow/{fid}':
    post:
      tags:
        - default
      summary: Follow FID
      parameters:
        - name: signerId
          in: query
          description: Signer ID for the user following the target FID
          required: true
          schema:
            type: string
            example: e5cf5d84-7671-4402-8df0-84b0efdc24cd
          examples:
            default:
              value: e5cf5d84-7671-4402-8df0-84b0efdc24cd
        - name: fid
          in: path
          description: Target FID to follow
          required: true
          schema:
            type: integer
            example: 6023
          examples:
            default:
              value: 6023
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    data:
                      data:
                        type: MESSAGE_TYPE_LINK_ADD
                        fid: 401191
                        timestamp: 102564169
                        network: FARCASTER_NETWORK_MAINNET
                      hash: '0xc7c8f734f819f1572b4191e003409497a1e71467'
                      hashScheme: HASH_SCHEME_BLAKE3
                      signature: 9ZnWcrrhNKvUbwR/oYnvKw4wnNoU2+LXyTnpQTJm3GChRN7FfIO5oN/u5QIPP7FIlaq8MwnoIU5EbXzWWij9DQ==
                      signatureScheme: SIGNATURE_SCHEME_ED25519
                      signer: '0x86367a36c3c181c46acdc6027109dbaa75c5fbc97c500af23f1ea8c987f12375'
                      dataBytes: CAUQp74YGMmC9DAgAXIQCgZmb2xsb3cQyYL0MBiHLw==
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: 'GET, POST, PUT, PATCH, DELETE, OPTIONS'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            X-Request-Id:
              schema:
                type: string
                example: 580e2592-a5bf-49dd-a3cb-96ed355f1389
            Date:
              schema:
                type: string
                example: 'Tue, 02 Apr 2024 02:02:49 GMT'
            Content-Length:
              schema:
                type: integer
                example: 495
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
    delete:
      tags:
        - default
      summary: Unfollow FID
      parameters:
        - name: signerId
          in: query
          description: Signer ID for the user unfollowing the target FID
          required: true
          schema:
            type: string
            example: e5cf5d84-7671-4402-8df0-84b0efdc24cd
          examples:
            default:
              value: e5cf5d84-7671-4402-8df0-84b0efdc24cd
        - name: fid
          in: path
          description: Target FID to unfollow
          required: true
          schema:
            type: integer
            example: 6023
          examples:
            default:
              value: 6023
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    data:
                      data:
                        type: MESSAGE_TYPE_LINK_REMOVE
                        fid: 401191
                        timestamp: 102564226
                        network: FARCASTER_NETWORK_MAINNET
                      hash: '0x9d1828cb2e932eeec479882e65cc919872222781'
                      hashScheme: HASH_SCHEME_BLAKE3
                      signature: jubw/Q9LSRMSdyoHbZs4NGCsLsuELCovQG+WDu1ix3ZV6M2ItVYeyrG86r0V8O7yCcl9K5evickDhvz6kANsAA==
                      signatureScheme: SIGNATURE_SCHEME_ED25519
                      signer: '0x86367a36c3c181c46acdc6027109dbaa75c5fbc97c500af23f1ea8c987f12375'
                      dataBytes: CAYQp74YGIKD9DAgAXISCgh1bmZvbGxvdxCCg/QwGIcv
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: 'GET, POST, PUT, PATCH, DELETE, OPTIONS'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            X-Request-Id:
              schema:
                type: string
                example: 6847ad65-cf81-4d34-93a2-47b624dcf10d
            Date:
              schema:
                type: string
                example: 'Tue, 02 Apr 2024 02:03:46 GMT'
            Content-Length:
              schema:
                type: integer
                example: 498
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
  /signers:
    post:
      tags:
        - default
      summary: Signers
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                app_fid:
                  type: integer
              x-examples:
                Example 1:
                  app_fid: 6023
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    data:
                      signer_uuid: ea79206f-228e-4ca6-82e6-95e6acc76860
                      public_key: e57c09c48b03a27d65679309456138ad1401d3cd278cb354b73eb819aa117f2f
                      signer_approved: false
          headers:
            Date:
              schema:
                type: string
                example: 'Thu, 28 Mar 2024 20:21:53 GMT'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 168
            Connection:
              schema:
                type: string
                example: keep-alive
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: 'GET, POST, PUT, PATCH, DELETE, OPTIONS'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            X-Request-Id:
              schema:
                type: string
                example: 17a03d83f1f05facd81bf5cc85ab9d91
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
    get:
      tags:
        - default
      summary: Get Signers
      parameters:
        - name: fid
          in: query
          description: FID for the user you are trying to fetch
          schema:
            type: integer
            example: 6023
          examples:
            default:
              value: 6023
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    data:
                      signers:
                        - id: 25
                          signer_uuid: 0aded7fd-2065-4325-b9c0-bba76da143ee
                          fid: 6023
                          public_key: d48c090aab908b37937304106faa1b3bf8e5337747e08e864f8a8602d372c5f6
                          signer_approved: true
                          revoked: false
                      next_page_token: eyJvZmZzZXQiOiIyNSJ9
          headers:
            Date:
              schema:
                type: string
                example: 'Fri, 29 Mar 2024 04:58:38 GMT'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 257
            Connection:
              schema:
                type: string
                example: keep-alive
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: 'GET, POST, PUT, PATCH, DELETE, OPTIONS'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            X-Request-Id:
              schema:
                type: string
                example: 93c35238eb0e6f4231b0ed32a08f7e12
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
  /register_signer_with_warpcast:
    post:
      tags:
        - default
      summary: Register Signer with Warpcast
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                signer_id:
                  type: string
                signature:
                  type: string
                deadline:
                  type: integer
                app_fid:
                  type: integer
                app_address:
                  type: string
              x-examples:
                Example 1:
                  signer_id: ea79206f-228e-4ca6-82e6-95e6acc76860
                  signature: '0xf6b5f91ee6e903fd171d98cbcc936b5cb83252fabded517ade0b54736ad0ec6c2ffaa832f25f54f8a9cfb899648ec96a884b304e3bb7515da863f2236201028a1c'
                  deadline: 1711744345
                  app_fid: 6023
                  app_address: '0x456131161f83C7D7fDA15b32a5f7C21FD4E27E96'
      parameters:
        - name: sponsored
          in: query
          schema:
            type: boolean
          description: Mark whether signer should be sponsored or not
          example: 'true'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    data:
                      signer_id: ea79206f-228e-4ca6-82e6-95e6acc76860
                      token: '0xe2a4f68bea6c78ea5980e3b9'
                      deep_link_url: 'farcaster://signed-key-request?token=0xe2a4f68bea6c78ea5980e3b9'
                      status: pending_approval
          headers:
            Date:
              schema:
                type: string
                example: 'Thu, 28 Mar 2024 20:35:50 GMT'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 209
            Connection:
              schema:
                type: string
                example: keep-alive
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: 'GET, POST, PUT, PATCH, DELETE, OPTIONS'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            X-Request-Id:
              schema:
                type: string
                example: 541193ed872f59542b29f579df7fe339
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
  /poll_warpcast_signer:
    post:
      tags:
        - default
      summary: Poll Warpcast Signer
      parameters:
        - name: token
          in: query
          description: Polling token provided in Register Signer request
          required: true
          schema:
            type: string
            example: '0xe2a4f68bea6c78ea5980e3b9'
          examples:
            default:
              value: '0xe2a4f68bea6c78ea5980e3b9'
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    data:
                      result:
                        signedKeyRequest:
                          token: '0xe2a4f68bea6c78ea5980e3b9'
                          deeplinkUrl: 'farcaster://signed-key-request?token=0xe2a4f68bea6c78ea5980e3b9'
                          key: '0xe57c09c48b03a27d65679309456138ad1401d3cd278cb354b73eb819aa117f2f'
                          requestFid: 6023
                          state: completed
                          isSponsored: false
                          userFid: 6023
          headers:
            Date:
              schema:
                type: string
                example: 'Thu, 28 Mar 2024 20:38:04 GMT'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 308
            Connection:
              schema:
                type: string
                example: keep-alive
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: 'GET, POST, PUT, PATCH, DELETE, OPTIONS'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            X-Request-Id:
              schema:
                type: string
                example: 3179423c132f3fac665cc06640a2ed3f
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
      security:
        - bearerAuth: []
      servers:
        - url: 'https://api.pinata.cloud/v3/farcaster'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
