openapi: 3.0.0
info:
  title: Pinata Farcaster API
  version: 1.0.0
servers:
  - url: https://api.pinata.cloud/v3/farcaster
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
paths:
  /casts/{hash}:
    get:
      tags:
        - default
      summary: Cast by Hash
      parameters:
        - name: hash
          in: path
          schema:
            type: string
          required: true
          description: The full hash of the cast you want to fetch
          example: '0xd3821c9019b42b40b5c173679093e7c19196e379'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Thu, 07 Mar 2024 14:45:57 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '1190'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Request-Id:
              schema:
                type: string
                example: 71fd2728094f11bd4fce115cc2e5c34c
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  fid: 324525
                  hash: '0xd3821c9019b42b40b5c173679093e7c19196e379'
                  short_hash: '0xd3821c90'
                  thread_hash: null
                  parent_hash: null
                  parent_url: null
                  root_parent_url: https://farcaster.group/spanish
                  parent_author: null
                  author:
                    uid: 324523
                    fid: 324525
                    custody_address: '0x29b9603827ed446bd4e1d2dada0e5aa97e7a455b'
                    recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                    following_count: 116
                    follower_count: 349
                    verifications:
                      - '0xa5d7897e2779f7e5c5be699d41a7b42f9ce0a5c2'
                    bio: |-
                      CryptoUsuario del Web3 y entusiasta DeFi.

                      https://villawolf.eth.limo
                    display_name: Villawolf 🎩
                    pfp_url: https://i.imgur.com/bX5CFaN.jpg
                    username: villawolf.eth
                  content: >-
                    Si eres Ethereum love 😍 como yo, esta web no debe faltar en
                    tu cajita de herramientas  https://ultrasound.money ETH 🚀🚀
                  timestamp: '2024-02-22T13:35:33Z'
                  embeds:
                    - url: https://i.imgur.com/6CBzQaJ.png
                    - url: https://ultrasound.money
                  reactions:
                    likes:
                      - fid: 7415
                        fname: franklynr
                      - fid: 329015
                        fname: manry
                      - fid: 10981
                        fname: xxtarhxx
                    recasts:
                      - fid: 7415
                        fname: franklynr
                      - fid: 329015
                        fname: manry
                  replies:
                    count: 1
                  mentioned_profiles: []
  /casts:
    get:
      tags:
        - default
      summary: Casts
      parameters:
        - name: fid
          in: query
          schema:
            type: integer
          description: Returns casts from a specific FID
          example: '4823'
        - name: following
          in: query
          schema:
            type: boolean
          description: >-
            When used in combination of `fid` will return the casts for who that
            `fid` is following 
          example: 'true'
        - name: channel
          in: query
          schema:
            type: string
          description: Specify a channel to fetch casts from
          example: https://warpcast.com/~/channel/pinata
        - name: pageSize
          in: query
          schema:
            type: integer
          description: Determine the number of results, if not specified default is 100
          example: '10'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Thu, 07 Mar 2024 14:46:51 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Request-Id:
              schema:
                type: string
                example: 06a723246d7e11ff8a3933ff8841cce8
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: Casts By FID
                  value:
                    data:
                      casts:
                        - fid: 4823
                          hash: '0x3f131125880e210ce3568c423d82f171132e5278'
                          short_hash: '0x3f131125'
                          thread_hash: '0x471bdd231bce04806201623f20739e1bfecf6f0e'
                          parent_hash: '0x454b0e99dfe2906978052ceb7628a3d92ad70bd6'
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/readcast
                          parent_author:
                            uid: 11244
                            fid: 11244
                            custody_address: '0x92622c2d23fdf169f312c61aa47eba16b4c12e0b'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 563
                            follower_count: 1863
                            verifications:
                              - '0x9addd91874b08f6856bf6b4a2263665d2bc0d933'
                            bio: >-
                              in love 📈, almost farcaster OG, Podcasting🎙️
                              about💥 web3 projects -> /web3magic || amateur
                              artist || built 12 companies ||

                              seemore.tv/bfg
                            display_name: BrightFutureGuy 🎩🔮
                            pfp_url: https://i.imgur.com/19qVIAY.gif
                            username: bfg
                          author:
                            uid: 4823
                            fid: 4823
                            custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 837
                            follower_count: 13433
                            verifications:
                              - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                              - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                            bio: >-
                              Writer. Building @pinatacloud. Tinkering with a
                              Farcaster native alternative to GoodReads:
                              https://readcast.xyz \ https://polluterofminds.com
                            display_name: Justin Hunter
                            pfp_url: >-
                              https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                            username: polluterofminds
                          content: Dreams are where great ideas come from!
                          timestamp: '2024-03-07T14:23:21Z'
                          embeds: []
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 4823
                          hash: '0x07ee2be32ed50eb9bae683ce6ed8bf6c81d79d30'
                          short_hash: '0x07ee2be3'
                          thread_hash: '0xb05bfb98ef32316fcca443da4b8990ea35fdf518'
                          parent_hash: '0xfe8c6ac301250fe3299bd257a015c7caafe6c0ad'
                          parent_url: null
                          root_parent_url: https://farcaster.group/founders
                          parent_author:
                            uid: 20591
                            fid: 20591
                            custody_address: '0x62402434701e0ce0ae4ea4b3caf68230a6ddbe43'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 13
                            follower_count: 248
                            verifications:
                              - '0x5ba9355a10611ed4339526472a59befed3549bad'
                            bio: >-
                              Everyone is from somewhere. Cofounder and CEO of
                              Pinata. https://www.pinata.cloud/farcaster
                            display_name: Kyle Tut
                            pfp_url: https://i.imgur.com/TLMFnH6.jpg
                            username: kyletut
                          author:
                            uid: 4823
                            fid: 4823
                            custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 837
                            follower_count: 13433
                            verifications:
                              - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                              - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                            bio: >-
                              Writer. Building @pinatacloud. Tinkering with a
                              Farcaster native alternative to GoodReads:
                              https://readcast.xyz \ https://polluterofminds.com
                            display_name: Justin Hunter
                            pfp_url: >-
                              https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                            username: polluterofminds
                          content: Me energized and ready to hit the ground running.
                          timestamp: '2024-03-07T14:16:11Z'
                          embeds:
                            - url: https://i.imgur.com/M1v1J9Z.gif
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 4823
                          hash: '0xc03556a376c7ddf1eb4960b708e8f71ee49d691e'
                          short_hash: '0xc03556a3'
                          thread_hash: '0xd4f378075cd4461ae430dfe964de228ea6190b35'
                          parent_hash: '0xd4f378075cd4461ae430dfe964de228ea6190b35'
                          parent_url: null
                          root_parent_url: https://farcaster.group/founders
                          parent_author:
                            uid: 1214
                            fid: 1214
                            custody_address: '0xcd1bae2391651198850b076c2b600d534df53ade'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 2695
                            follower_count: 48301
                            verifications:
                              - >-
                                0xd77e059ed9d802a26ee69402558371b03e26e117d4618fa789da873490a7caf1
                              - '0xdaa83039aca9a33b2e54bb2acc9f9c3a99357618'
                              - '0xf45598baea3f09ad712c3ecaf996ea52b6e07674'
                            bio: >-
                              Building open source software via @frames and
                              /mod, to help Farcaster and decentralized social
                              win
                            display_name: David Furlong
                            pfp_url: >-
                              https://lh3.googleusercontent.com/-S5cdhOpZtJ_Qzg9iPWELEsRTkIsZ7qGYmVlwEORgFB00WWAtZGefRnS4Bjcz5ah40WVOOWeYfU5pP9Eekikb3cLMW2mZQOMQHlWhg
                            username: df
                          author:
                            uid: 4823
                            fid: 4823
                            custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 837
                            follower_count: 13433
                            verifications:
                              - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                              - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                            bio: >-
                              Writer. Building @pinatacloud. Tinkering with a
                              Farcaster native alternative to GoodReads:
                              https://readcast.xyz \ https://polluterofminds.com
                            display_name: Justin Hunter
                            pfp_url: >-
                              https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                            username: polluterofminds
                          content: >-
                            Love this! Thanks for sharing, David. Also love that
                            you used Slideframe.
                          timestamp: '2024-03-07T13:45:36Z'
                          embeds: []
                          reactions:
                            likes:
                              - fid: 1214
                                fname: df
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 4823
                          hash: '0x3d5e61c37fa5529f8b3cd25944b977d83aaf7891'
                          short_hash: '0x3d5e61c3'
                          thread_hash: null
                          parent_hash: null
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/perl
                          parent_author: null
                          author:
                            uid: 4823
                            fid: 4823
                            custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 837
                            follower_count: 13433
                            verifications:
                              - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                              - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                            bio: >-
                              Writer. Building @pinatacloud. Tinkering with a
                              Farcaster native alternative to GoodReads:
                              https://readcast.xyz \ https://polluterofminds.com
                            display_name: Justin Hunter
                            pfp_url: >-
                              https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                            username: polluterofminds
                          content: >-
                            If you’re participating in today’s  challenge, I’ll
                            give you the signal when it’s time to smash the like
                            button. Turn on notifications for me if you don’t
                            want to miss the cast where we all need to be liking
                            our thumbs off.
                          timestamp: '2024-03-07T13:43:28Z'
                          embeds: []
                          reactions:
                            likes:
                              - fid: 237242
                                fname: lockey
                              - fid: 380163
                                fname: thommyshelby17
                              - fid: 4463
                                fname: tombornal
                              - fid: 253637
                                fname: kiryuu
                            recasts:
                              - fid: 253637
                                fname: kiryuu
                              - fid: 237242
                                fname: lockey
                          replies:
                            count: 2
                          mentioned_profiles:
                            - uid: 1110
                              fid: 1110
                              custody_address: '0xc4c4db549d13ebd6a9805a42ef6a3e591af6aa2f'
                              recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                              following_count: 2
                              follower_count: 37030
                              verifications:
                                - '0x1ab2be15a12437c0db4412ef2781a2f499964e6f'
                              bio: >-
                                tap the 🔔 to be notified when $PERL game
                                starts. 💬: /perl  🙋: go.perl.xyz/FAQ
                              display_name: 🎩 perl 🎩
                              pfp_url: https://i.imgur.com/YbZMMsn.png
                              username: perl
                        - fid: 4823
                          hash: '0x7ca7ac71f3f0992b1fb5943f5389283d1bd906f2'
                          short_hash: '0x7ca7ac71'
                          thread_hash: '0x8355a25b7e81647e08c1fd10af99db6b5bd74ff6'
                          parent_hash: '0x8355a25b7e81647e08c1fd10af99db6b5bd74ff6'
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/readcast
                          parent_author:
                            uid: 13323
                            fid: 13323
                            custody_address: '0x77a855b37515e440ab4e7dde9ff89f2de46336eb'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 616
                            follower_count: 1472
                            verifications:
                              - '0x2040a831df5e8952eb0af8ecfdab59607683aff1'
                              - '0xea32f2de0faf3a6926a9762a48a1fb27a4c95541'
                            bio: >-
                              OG in many ways. Collaboration is the way. Break
                              all monopolies.

                              We all have a soundtrack and I'm sure we have some
                              common tracks. 

                              Not follow2follow vibe.
                            display_name: 'Speakup 🎩 North '
                            pfp_url: >-
                              https://i.seadn.io/s/raw/files/5a798a0884c7433ba2e3ddd7e1812c77.gif?w=500&auto=format
                            username: speakup
                          author:
                            uid: 4823
                            fid: 4823
                            custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 837
                            follower_count: 13433
                            verifications:
                              - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                              - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                            bio: >-
                              Writer. Building @pinatacloud. Tinkering with a
                              Farcaster native alternative to GoodReads:
                              https://readcast.xyz \ https://polluterofminds.com
                            display_name: Justin Hunter
                            pfp_url: >-
                              https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                            username: polluterofminds
                          content: >-
                            There’s an Android app (for now). I’ll shoot you a
                            direct cast for access.
                          timestamp: '2024-03-07T13:39:51Z'
                          embeds: []
                          reactions:
                            likes:
                              - fid: 13323
                                fname: speakup
                          replies:
                            count: 1
                          mentioned_profiles: []
                        - fid: 4823
                          hash: '0xb05bfb98ef32316fcca443da4b8990ea35fdf518'
                          short_hash: '0xb05bfb98'
                          thread_hash: null
                          parent_hash: null
                          parent_url: null
                          root_parent_url: https://farcaster.group/founders
                          parent_author: null
                          author:
                            uid: 4823
                            fid: 4823
                            custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 837
                            follower_count: 13433
                            verifications:
                              - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                              - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                            bio: >-
                              Writer. Building @pinatacloud. Tinkering with a
                              Farcaster native alternative to GoodReads:
                              https://readcast.xyz \ https://polluterofminds.com
                            display_name: Justin Hunter
                            pfp_url: >-
                              https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                            username: polluterofminds
                          content: >-
                            There are so many good quotes in this that I can’t
                            pick just one. So read the whole thing and enjoy.
                            https://ludic.mataroa.blog/blog/leadership-is-a-hell-of-a-drug/
                          timestamp: '2024-03-07T13:30:09Z'
                          embeds:
                            - url: >-
                                https://ludic.mataroa.blog/blog/leadership-is-a-hell-of-a-drug/
                          reactions:
                            likes:
                              - fid: 253637
                                fname: kiryuu
                              - fid: 237242
                                fname: lockey
                              - fid: 341270
                                fname: agilitas.eth
                              - fid: 333984
                                fname: mykola
                              - fid: 317425
                                fname: uriduri9585
                              - fid: 323050
                                fname: 7eth
                          replies:
                            count: 1
                          mentioned_profiles: []
                        - fid: 4823
                          hash: '0xd265c9aafa49329c245ab6780c5bf364aa0dba8b'
                          short_hash: '0xd265c9aa'
                          thread_hash: null
                          parent_hash: null
                          parent_url: null
                          root_parent_url: >-
                            chain://eip155:7777777/erc721:0x36ef4ed7a949ee87d5d2983f634ae87e304a9ea2
                          parent_author: null
                          author:
                            uid: 4823
                            fid: 4823
                            custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 837
                            follower_count: 13433
                            verifications:
                              - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                              - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                            bio: >-
                              Writer. Building @pinatacloud. Tinkering with a
                              Farcaster native alternative to GoodReads:
                              https://readcast.xyz \ https://polluterofminds.com
                            display_name: Justin Hunter
                            pfp_url: >-
                              https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                            username: polluterofminds
                          content: >-
                            Photography people, do we like this move?
                            https://www.nikon.com/company/news/2024/0307_01.html
                          timestamp: '2024-03-07T12:30:08Z'
                          embeds:
                            - url: >-
                                https://www.nikon.com/company/news/2024/0307_01.html
                          reactions:
                            likes:
                              - fid: 6546
                                fname: artlu
                              - fid: 237242
                                fname: lockey
                              - fid: 18910
                                fname: viybz
                              - fid: 333984
                                fname: mykola
                              - fid: 19488
                                fname: '678'
                              - fid: 4423
                                fname: payton
                              - fid: 376111
                                fname: masoudbana
                              - fid: 291686
                                fname: tatiansa
                              - fid: 235206
                                fname: youravity
                              - fid: 253637
                                fname: kiryuu
                              - fid: 377491
                                fname: shankarrao2006
                              - fid: 6023
                                fname: stevedylandev.eth
                              - fid: 316092
                                fname: liprik
                              - fid: 317425
                                fname: uriduri9585
                              - fid: 276128
                                fname: fraktalz
                          replies:
                            count: 3
                          mentioned_profiles: []
                        - fid: 4823
                          hash: '0xbcb7e59c773ba85e3b469bf12d2b0ea5a7bf68be'
                          short_hash: '0xbcb7e59c'
                          thread_hash: '0x471bdd231bce04806201623f20739e1bfecf6f0e'
                          parent_hash: '0x471bdd231bce04806201623f20739e1bfecf6f0e'
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/readcast
                          parent_author:
                            uid: 11244
                            fid: 11244
                            custody_address: '0x92622c2d23fdf169f312c61aa47eba16b4c12e0b'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 563
                            follower_count: 1863
                            verifications:
                              - '0x9addd91874b08f6856bf6b4a2263665d2bc0d933'
                            bio: >-
                              in love 📈, almost farcaster OG, Podcasting🎙️
                              about💥 web3 projects -> /web3magic || amateur
                              artist || built 12 companies ||

                              seemore.tv/bfg
                            display_name: BrightFutureGuy 🎩🔮
                            pfp_url: https://i.imgur.com/19qVIAY.gif
                            username: bfg
                          author:
                            uid: 4823
                            fid: 4823
                            custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 837
                            follower_count: 13433
                            verifications:
                              - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                              - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                            bio: >-
                              Writer. Building @pinatacloud. Tinkering with a
                              Farcaster native alternative to GoodReads:
                              https://readcast.xyz \ https://polluterofminds.com
                            display_name: Justin Hunter
                            pfp_url: >-
                              https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                            username: polluterofminds
                          content: >-
                            Thank you! I’m excited to keep building this out.
                            What features from Goodreads do you want to see
                            incorporated into ReadCast?
                          timestamp: '2024-03-07T12:09:16Z'
                          embeds: []
                          reactions:
                            likes:
                              - fid: 11244
                                fname: bfg
                          replies:
                            count: 1
                          mentioned_profiles: []
                        - fid: 4823
                          hash: '0xef7cb8f070632005e0e8be07d90043b5f5e34d18'
                          short_hash: '0xef7cb8f0'
                          thread_hash: null
                          parent_hash: null
                          parent_url: null
                          root_parent_url: https://www.apple.com
                          parent_author: null
                          author:
                            uid: 4823
                            fid: 4823
                            custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 837
                            follower_count: 13433
                            verifications:
                              - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                              - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                            bio: >-
                              Writer. Building @pinatacloud. Tinkering with a
                              Farcaster native alternative to GoodReads:
                              https://readcast.xyz \ https://polluterofminds.com
                            display_name: Justin Hunter
                            pfp_url: >-
                              https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                            username: polluterofminds
                          content: >-
                            Apple is playing this seesaw game with
                            anti-competitive practices. They’ll push as much as
                            they can and then reel it back in when investigated
                            or challenged by courts.
                            https://www.macrumors.com/2024/03/07/eu-probes-apple-termination-epic-account/
                          timestamp: '2024-03-07T11:47:31Z'
                          embeds:
                            - url: >-
                                https://www.macrumors.com/2024/03/07/eu-probes-apple-termination-epic-account/
                          reactions:
                            likes:
                              - fid: 253637
                                fname: kiryuu
                              - fid: 237242
                                fname: lockey
                              - fid: 243876
                                fname: sammyj
                              - fid: 6546
                                fname: artlu
                              - fid: 276128
                                fname: fraktalz
                              - fid: 331851
                                fname: wimvp.eth
                              - fid: 279063
                                fname: nedarad
                              - fid: 235206
                                fname: youravity
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 4823
                          hash: '0xa2e7499c870c47379e8dbe5caf1b6b10d211f154'
                          short_hash: '0xa2e7499c'
                          thread_hash: null
                          parent_hash: null
                          parent_url: null
                          root_parent_url: null
                          parent_author: null
                          author:
                            uid: 4823
                            fid: 4823
                            custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 837
                            follower_count: 13433
                            verifications:
                              - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                              - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                            bio: >-
                              Writer. Building @pinatacloud. Tinkering with a
                              Farcaster native alternative to GoodReads:
                              https://readcast.xyz \ https://polluterofminds.com
                            display_name: Justin Hunter
                            pfp_url: >-
                              https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                            username: polluterofminds
                          content: This is awesome 👏
                          timestamp: '2024-03-07T11:34:29Z'
                          embeds:
                            - castId:
                                fid: 17940
                                hash: '0xf898c4a396ac31f4d21191e1b159b5282222a449'
                          reactions:
                            likes:
                              - fid: 360895
                                fname: vinnienn
                              - fid: 342771
                                fname: belting67
                              - fid: 360844
                                fname: thadmon
                              - fid: 17940
                                fname: metaend.eth
                              - fid: 6023
                                fname: stevedylandev.eth
                              - fid: 377738
                                fname: dennybit
                              - fid: 276128
                                fname: fraktalz
                              - fid: 325515
                                fname: blackq
                              - fid: 253121
                                fname: adolf-schinke
                              - fid: 243876
                                fname: sammyj
                              - fid: 331851
                                fname: wimvp.eth
                              - fid: 192373
                                fname: leshka
                              - fid: 286600
                                fname: waltzyang
                              - fid: 363784
                                fname: metanoia
                              - fid: 381328
                                fname: gabrielf
                              - fid: 235206
                                fname: youravity
                              - fid: 254020
                                fname: wiseman
                              - fid: 253637
                                fname: kiryuu
                              - fid: 6546
                                fname: artlu
                              - fid: 191789
                                fname: wastie
                              - fid: 191294
                                fname: benbassler.eth
                              - fid: 347308
                                fname: crypt0crusader
                              - fid: 255209
                                fname: hanzestark
                              - fid: 237242
                                fname: lockey
                            recasts:
                              - fid: 360829
                                fname: calene03
                              - fid: 347308
                                fname: crypt0crusader
                              - fid: 360895
                                fname: vinnienn
                              - fid: 6023
                                fname: stevedylandev.eth
                              - fid: 360920
                                fname: 1ardar
                              - fid: 328834
                                fname: chainchief
                              - fid: 347293
                                fname: blockbuster777
                              - fid: 342771
                                fname: belting67
                              - fid: 360844
                                fname: thadmon
                          replies:
                            count: 1
                          mentioned_profiles: []
                      next_page_token: eyJvZmZzZXQiOiIwIn0
                example-1:
                  summary: Casts By Following
                  value:
                    data:
                      casts:
                        - fid: 296422
                          hash: '0x8e053c0ad01df6fad41f84d1c9b3216e9ee31ec1'
                          short_hash: '0x8e053c0a'
                          thread_hash: '0x40e707939db3986fcca24c6f4f28d03d17b6c54b'
                          parent_hash: '0x40e707939db3986fcca24c6f4f28d03d17b6c54b'
                          parent_url: null
                          root_parent_url: >-
                            chain://eip155:1/erc721:0xfd8427165df67df6d7fd689ae67c8ebf56d9ca61
                          parent_author:
                            uid: 15322
                            fid: 15322
                            custody_address: '0x649e096ad0f60ddf753ba868e873bff146f912e4'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 274
                            follower_count: 379
                            verifications:
                              - '0x7e17369c16cc0b5fd06ebc5e39119c9a6f66fcb9'
                            bio: |-
                              Founder of HareCrypta community
                              https://twitter.com/Rencrypta
                            display_name: Rencrypta 🎩
                            pfp_url: https://i.imgur.com/0a0t0KC.jpg
                            username: rencrypta
                          author:
                            uid: 296421
                            fid: 296422
                            custody_address: '0x274263df74e4995f289be79211c9dcacb6d988e9'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 2811
                            follower_count: 731
                            verifications:
                              - >-
                                0x133a0b5de19c776b15016c5dfcf902ab97d669f4871c1e896bb1eb8fe738ffdf
                              - '0x489d69939b4aca357f630055e351a81f1fbb7fb6'
                            bio: crypto enthusiast, liquidity provider, farmer
                            display_name: Inna 🎩
                            pfp_url: https://i.imgur.com/6IRtNDU.jpg
                            username: gladness
                          content: yes, agree
                          timestamp: '2024-03-07T14:29:59Z'
                          embeds: []
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 307976
                          hash: '0x48a365a3b40df07c79d213af7a6c6f254f613ad0'
                          short_hash: '0x48a365a3'
                          thread_hash: '0x9fed1e3ea4fb7b709294fd49cfe19407147eaafb'
                          parent_hash: '0x9fed1e3ea4fb7b709294fd49cfe19407147eaafb'
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/alphathailand
                          parent_author:
                            uid: 290298
                            fid: 290299
                            custody_address: '0x21af22c6509e94e4324be03957e4710843abf8be'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 1938
                            follower_count: 1360
                            verifications:
                              - '0x2588c9bffd2e93666accb58de3a60139b3f44d3b'
                            bio: GoodGame🥰🥰🥰🥰
                            display_name: SakalaJ
                            pfp_url: https://i.imgur.com/ZAE2UDr.png
                            username: sakalaj
                          author:
                            uid: 307974
                            fid: 307976
                            custody_address: '0x00f8e40c97c59b86e9e5a9844c33b2994d09c58a'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 890
                            follower_count: 775
                            verifications:
                              - '0x92986ac66de8b40fa44db0c6d04c6582fd3cfa29'
                            bio: I like Running and healty.
                            display_name: Jintab.S
                            pfp_url: https://i.imgur.com/XLs7gNb.png
                            username: jintab-s
                          content: 200 $DEGEN 🍖x 5
                          timestamp: '2024-03-07T14:29:59Z'
                          embeds: []
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 315676
                          hash: '0x22b3e12e80d0c8497a5c933f49fafe1d4a8fe8f6'
                          short_hash: '0x22b3e12e'
                          thread_hash: '0xf979e2214c1d3b07b4686cce7023e533078383a3'
                          parent_hash: '0x8cdbd57d46bb930b7db433a40adeb144d7d31534'
                          parent_url: null
                          root_parent_url: >-
                            chain://eip155:7777777/erc721:0x5d6a07d07354f8793d1ca06280c4adf04767ad7e
                          parent_author:
                            uid: 288136
                            fid: 288137
                            custody_address: '0x9f775b7edc8dfa06084aeef4e3f1929e49663784'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 1353
                            follower_count: 688
                            verifications:
                              - '0x6503db33cb4f488b09c697caacc6ae8d3559d066'
                            bio: Only Iipyung
                            display_name: Xin🎩
                            pfp_url: https://i.imgur.com/sXM34ea.jpg
                            username: ehxin
                          author:
                            uid: 315674
                            fid: 315676
                            custody_address: '0x0429b0d6c4995850f6d0115dca4edb992546fc76'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 185
                            follower_count: 436
                            verifications:
                              - '0x5a7a4bde5ec6064a66504321af27a82b093f6438'
                              - >-
                                0xe1f7ff334280814c9211d851ae72bc81fc84a141ce8a493e500678de7c671b09
                            bio: |-
                              Fine art photographer  | 
                              Long exposure enthusiast  | 
                              Linktr.ee/xosecasal
                            display_name: Xose 🎩
                            pfp_url: https://i.imgur.com/NUtGv0E.jpg
                            username: xose
                          content: |-
                            cheers
                            169 $DEGEN
                          timestamp: '2024-03-07T14:29:59Z'
                          embeds: []
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 303634
                          hash: '0x71a70b3d898dd67a523fe3bacefa31dee09f0bb3'
                          short_hash: '0x71a70b3d'
                          thread_hash: '0x7e855244d48eeb46b1a14762b51343f882d7ac34'
                          parent_hash: '0x7e855244d48eeb46b1a14762b51343f882d7ac34'
                          parent_url: null
                          root_parent_url: >-
                            chain://eip155:7777777/erc721:0x5d6a07d07354f8793d1ca06280c4adf04767ad7e
                          parent_author:
                            uid: 6348
                            fid: 6348
                            custody_address: '0x80d03fb634aaa8eb583325d99d342ae971379f32'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 164
                            follower_count: 2242
                            verifications:
                              - '0x86776ae9783c634c6aee6cda878c8f35a5571333'
                            bio: >-
                              Builder 🔊 - Head of Product @levaintech - Writing
                              about new products at
                              https://adopter.substack.com/
                            display_name: joel🎩
                            pfp_url: https://i.imgur.com/J9jRdq2.png
                            username: loverajoel
                          author:
                            uid: 303632
                            fid: 303634
                            custody_address: '0xce046bd153d6b384b5ab1f6db42e2899b39bda9f'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 567
                            follower_count: 694
                            verifications:
                              - '0xce046bd153d6b384b5ab1f6db42e2899b39bda9f'
                            bio: '0xce046bd153d6b384b5ab1f6db42e2899b39bda9f'
                            display_name: cilsa
                            pfp_url: https://i.imgur.com/mwMmvsH.png
                            username: cilsa
                          content: 795 $DEGEN
                          timestamp: '2024-03-07T14:29:59Z'
                          embeds: []
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 15789
                          hash: '0xf1ad061b4bb5039bb7f29276611189f8c535771b'
                          short_hash: '0xf1ad061b'
                          thread_hash: null
                          parent_hash: null
                          parent_url: null
                          root_parent_url: >-
                            chain://eip155:7777777/erc721:0x5d6a07d07354f8793d1ca06280c4adf04767ad7e
                          parent_author: null
                          author:
                            uid: 15789
                            fid: 15789
                            custody_address: '0x8ad71f5c9e5d0cc7e2fc203a1b5d8a7bdb7fcab5'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 156
                            follower_count: 325
                            verifications:
                              - '0xabff4e288c3a4bd1d622ac7d6e199e25fb0c561f'
                            bio: |
                              Photographer, Digital Artist, and maker of music

                              https://linktr.ee/seanmundy

                              Mod & host of /concept-photo
                            display_name: Sean Mundy 🎩
                            pfp_url: >-
                              https://i.seadn.io/gae/CWL9_JIDIsR-rBDm3eOt2dcfm9QaSW8YhyWmiH9GzoALeW5yZrJiV6nzBGxLuzYNEf8dFU8xDjq2hj4arbKcGwjZ5Kog4igt1ewW?w=500&auto=format
                            username: seanmundy
                          content: >-
                            is one a degen when one tips $degen, or when one is
                            tipped $degen?


                            really makes you think 🧙
                          timestamp: '2024-03-07T14:29:58Z'
                          embeds:
                            - url: https://i.imgur.com/t2E4A5k.jpg
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 378156
                          hash: '0x4af87ce6cb8f9353dd6d4a181656acd4875dc1b0'
                          short_hash: '0x4af87ce6'
                          thread_hash: '0xa52ebf3a9f496869bc4c0f31935734077192e844'
                          parent_hash: '0x7410f46ce94e60d2ab4f2a9ecbbf205652040eb3'
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/replyguys
                          parent_author:
                            uid: 378177
                            fid: 378179
                            custody_address: '0x5fb6549239452ba56379b067b26c33e8fc9dc504'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 844
                            follower_count: 130
                            verifications:
                              - >-
                                0x9385d5ab4f20a2bdfadabaa749611a728e06b70064cd1dc61bf63d76acfc3403
                              - '0xd381996a99bf63a3c3d0ce8db9bcb9e545ce5170'
                            bio: ''
                            display_name: VolGod🎩
                            pfp_url: https://i.imgur.com/8J2lHc2.jpg
                            username: ashu2005
                          author:
                            uid: 378154
                            fid: 378156
                            custody_address: '0xa7443c7bba6088404be3b392c3874f06a6b279f8'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 808
                            follower_count: 96
                            verifications:
                              - >-
                                0x6b7826271962fd368f37c93f85c6af691ecc0605d32e1d16c71de53ba97cb19b
                              - '0x7d6436dcea657ad0265f03f1818e77d021ffaf15'
                            bio: ''
                            display_name: Ashwani Grover
                            pfp_url: https://i.imgur.com/xfgFBEb.jpg
                            username: ashwanigrover70
                          content: Keep It Up 110 $DEGEN
                          timestamp: '2024-03-07T14:29:58Z'
                          embeds: []
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 298014
                          hash: '0xb298f3c39201ea4dd6724797d15c689dfb2aef4c'
                          short_hash: '0xb298f3c3'
                          thread_hash: '0x259c93eedc9f1ba8919294392fc2a7e684618c31'
                          parent_hash: '0x7fd0115a722a3701657764aa971395d1fb2f90a4'
                          parent_url: null
                          root_parent_url: >-
                            chain://eip155:7777777/erc721:0x4f86113fc3e9783cf3ec9a552cbb566716a57628
                          parent_author:
                            uid: 278016
                            fid: 278017
                            custody_address: '0x727fbbfd9aed23003bde401f08fb31fbc8d840b2'
                            recovery_address: '0x727fbbfd9aed23003bde401f08fb31fbc8d840b2'
                            following_count: 1191
                            follower_count: 896
                            verifications:
                              - '0x727fbbfd9aed23003bde401f08fb31fbc8d840b2'
                              - >-
                                0x7e6632bb5ffe188d6469b1bc880f4ac7f70f1790e4d6c0226c2730e64c18b437
                            bio: satu cinta untuk mu
                            display_name: novi 🎩
                            pfp_url: https://i.imgur.com/Jzs0EDf.jpg
                            username: edi1100
                          author:
                            uid: 298012
                            fid: 298014
                            custody_address: '0x0fddc8375d4d96626e6f69307bd647eb0b1bd425'
                            recovery_address: '0x0fddc8375d4d96626e6f69307bd647eb0b1bd425'
                            following_count: 214
                            follower_count: 278
                            verifications:
                              - '0x0fddc8375d4d96626e6f69307bd647eb0b1bd425'
                            bio: 💲💲💲💲💲
                            display_name: paposkidi
                            pfp_url: https://i.imgur.com/X2GzgO2.jpg
                            username: paposkidi
                          content: Done land sis?
                          timestamp: '2024-03-07T14:29:58Z'
                          embeds: []
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 292670
                          hash: '0xc399dcfb119f2989a53ff9209896090f26731a99'
                          short_hash: '0xc399dcfb'
                          thread_hash: null
                          parent_hash: null
                          parent_url: null
                          root_parent_url: null
                          parent_author: null
                          author:
                            uid: 292669
                            fid: 292670
                            custody_address: '0xdce9d8bdb06d720cb502e63d81fc1a011b5a8613'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 405
                            follower_count: 243
                            verifications: []
                            bio: >-
                              Follow me for daily memes, Sarcasm & Crypto
                              Updates. 📉📈 
                            display_name: Sarcasm
                            pfp_url: https://i.imgur.com/i8iaLrh.jpg
                            username: sarcasm
                          content: >-
                            mint now -
                            https://www.okx.com/web3/marketplace/nft/asset/polygon/0x2c3380aaf13ba2f490c48fc63990db72fb46eaf1/15397
                          timestamp: '2024-03-07T14:29:57Z'
                          embeds:
                            - url: https://i.imgur.com/ggK1gHJ.png
                            - url: >-
                                https://www.okx.com/web3/marketplace/nft/asset/polygon/0x2c3380aaf13ba2f490c48fc63990db72fb46eaf1/15397
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 293294
                          hash: '0xbed84ffcaa97702fa49603f20e26dcd3923631c3'
                          short_hash: '0xbed84ffc'
                          thread_hash: '0x1ce8356cb10a2d2a12e44b7dda1d0fb935286514'
                          parent_hash: '0x1ce8356cb10a2d2a12e44b7dda1d0fb935286514'
                          parent_url: null
                          root_parent_url: >-
                            chain://eip155:7777777/erc721:0x5d6a07d07354f8793d1ca06280c4adf04767ad7e
                          parent_author:
                            uid: 18781
                            fid: 18781
                            custody_address: '0xf381dba2001de36d25dedd54b5f0b9842cc42a7a'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 165
                            follower_count: 162
                            verifications:
                              - '0x677af891c34fda72c5dd9387897444d584ba6d20'
                            bio: Whatever you are, be a good one
                            display_name: Obenbright
                            pfp_url: https://i.imgur.com/yoMJG6n.jpg
                            username: obenbright
                          author:
                            uid: 293293
                            fid: 293294
                            custody_address: '0xc23017dfcf8306416f22566d02d90c6fd3acd96b'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 90
                            follower_count: 144
                            verifications:
                              - '0x77a446240d551826298ee0626d3388302e317bdd'
                            bio: I am hero!
                            display_name: Goro
                            pfp_url: https://i.imgur.com/yggdeQ9.jpg
                            username: goro00
                          content: 289 $DEGEN . Follow me!
                          timestamp: '2024-03-07T14:29:57Z'
                          embeds: []
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 3828
                          hash: '0x5dff33e41e3b423f7fe51f2afd568fa90492b338'
                          short_hash: '0x5dff33e4'
                          thread_hash: '0x8964f1fc32774898bfd199066479125aae18ffb9'
                          parent_hash: '0x8964f1fc32774898bfd199066479125aae18ffb9'
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/lp
                          parent_author:
                            uid: 282519
                            fid: 282520
                            custody_address: '0x16598522703f742bf78645225e54b94856dbba86'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 494
                            follower_count: 583
                            verifications:
                              - '0x96168acf7f3925e7a9eaa08ddb21e59643da8097'
                            bio: >-
                              New creation in $JESUS. Husband. Dad. ENS is the
                              way.
                            display_name: GEAUX 🎩
                            pfp_url: https://i.imgur.com/akZcltS.jpg
                            username: geaux.eth
                          author:
                            uid: 3828
                            fid: 3828
                            custody_address: '0x92055f926a55e84a8fbf322fdbdd1c86ac68a629'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 448
                            follower_count: 355
                            verifications:
                              - '0x962d14e98cfdcc72ba89943f72ba24d435ec2a68'
                            bio: >-
                              Creative director for the first ETHChicago, enjoy
                              exploring digital art. I am a potato 
                            display_name: potato 🎩
                            pfp_url: https://i.imgur.com/1MlRv49.jpg
                            username: potato
                          content: |-
                            🍖🍖🍖🍖       🍖               🍖 
                            🍖                     🍖🍖         🍖🍖  
                            🍖                     🍖  🍖     🍖  🍖 
                            🍖     🍖🍖      🍖    🍖  🍖    🍖 
                            🍖          🍖      🍖      🍖🍖    🍖 
                            🍖🍖🍖🍖      🍖        🍖       🍖
                          timestamp: '2024-03-07T14:29:57Z'
                          embeds: []
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                      next_page_token: eyJvZmZzZXQiOiIwIn0
                example-2:
                  summary: Casts By Channel
                  value:
                    data:
                      casts:
                        - fid: 267385
                          hash: '0xdb5476aebdd5654c2a2db28eda0b9fb1ef7bbcad'
                          short_hash: '0xdb5476ae'
                          thread_hash: '0xf898c4a396ac31f4d21191e1b159b5282222a449'
                          parent_hash: '0xf898c4a396ac31f4d21191e1b159b5282222a449'
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/pinata
                          parent_author:
                            uid: 17940
                            fid: 17940
                            custody_address: '0xe904715b3f63b4fbbbcae0fb8996f250d79d470a'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 399
                            follower_count: 3259
                            verifications:
                              - '0xac1c4bed1c7c71fd3afde11e2bd4f18d969c843d'
                              - >-
                                0xceecd9664ea11f446ca059e3aad6b18adb19d8389272e80f7530cbafc288217d
                            bio: |-
                              Co-Founder at https://aunova.net

                              Follow Me: https://metaend.eth.limo
                            display_name: MetaEnd — 🎩/dau
                            pfp_url: https://i.imgur.com/FF6aDOd.jpg
                            username: metaend.eth
                          author:
                            uid: 267385
                            fid: 267385
                            custody_address: '0xbe94dc07188e00cb0682643760df7e355e726206'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 279
                            follower_count: 199
                            verifications:
                              - '0x661c54a9da5c289f60c1a19ad95049dce2169e6b'
                            bio: Gaming
                            display_name: Alikhan
                            pfp_url: https://i.imgur.com/lUkzfei.jpg
                            username: alikhan
                          content: 50 $degen
                          timestamp: '2024-03-07T12:29:33Z'
                          embeds: []
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 230147
                          hash: '0x169f72ff9521248b7f93795796cf410cfb6310e7'
                          short_hash: '0x169f72ff'
                          thread_hash: '0xf898c4a396ac31f4d21191e1b159b5282222a449'
                          parent_hash: '0xb777e9dac14dbdbf1b5ee24c69d9681706fd9941'
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/pinata
                          parent_author:
                            uid: 191294
                            fid: 191294
                            custody_address: '0x114d3c173325cfa4506509eff2c2a5aecce8243e'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 219
                            follower_count: 469
                            verifications:
                              - '0xf5745cd4d5bc2e3b7352676544ea632a9a30fecd'
                            bio: >-
                              A developer working on building the next
                              generation of social media. | benbassler.com
                            display_name: Ben
                            pfp_url: https://i.imgur.com/bKFudqy.jpg
                            username: benbassler.eth
                          author:
                            uid: 230147
                            fid: 230147
                            custody_address: '0x2a54d66578ea6b451a5d44d149bedd3284e9fd24'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 281
                            follower_count: 4255
                            verifications:
                              - '0xb70399fc376c1b3cf3493556d2f14942323ef44f'
                            bio: >-
                              I'm a versatile generalist always exploring and
                              documenting my journey. Building /farcastles |
                              @edit mint | Collaborative art collections: Corbs,
                              Co-Arcs, Perl
                            display_name: edit 🎩
                            pfp_url: https://i.imgur.com/TfwfzOn.jpg
                            username: edit
                          content: Cast bookmarked to benbassler.eth/general.
                          timestamp: '2024-03-07T11:47:49Z'
                          embeds:
                            - url: https://www.frames.baby/bookmarks
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 191294
                          hash: '0xb777e9dac14dbdbf1b5ee24c69d9681706fd9941'
                          short_hash: '0xb777e9da'
                          thread_hash: '0xf898c4a396ac31f4d21191e1b159b5282222a449'
                          parent_hash: '0xf898c4a396ac31f4d21191e1b159b5282222a449'
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/pinata
                          parent_author:
                            uid: 17940
                            fid: 17940
                            custody_address: '0xe904715b3f63b4fbbbcae0fb8996f250d79d470a'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 399
                            follower_count: 3259
                            verifications:
                              - '0xac1c4bed1c7c71fd3afde11e2bd4f18d969c843d'
                              - >-
                                0xceecd9664ea11f446ca059e3aad6b18adb19d8389272e80f7530cbafc288217d
                            bio: |-
                              Co-Founder at https://aunova.net

                              Follow Me: https://metaend.eth.limo
                            display_name: MetaEnd — 🎩/dau
                            pfp_url: https://i.imgur.com/FF6aDOd.jpg
                            username: metaend.eth
                          author:
                            uid: 191294
                            fid: 191294
                            custody_address: '0x114d3c173325cfa4506509eff2c2a5aecce8243e'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 219
                            follower_count: 469
                            verifications:
                              - '0xf5745cd4d5bc2e3b7352676544ea632a9a30fecd'
                            bio: >-
                              A developer working on building the next
                              generation of social media. | benbassler.com
                            display_name: Ben
                            pfp_url: https://i.imgur.com/bKFudqy.jpg
                            username: benbassler.eth
                          content: '!bookmark'
                          timestamp: '2024-03-07T11:47:48Z'
                          embeds: []
                          reactions: {}
                          replies:
                            count: 1
                          mentioned_profiles: []
                        - fid: 20591
                          hash: '0xc57702558a1447895069ee21453d46ce1ffec531'
                          short_hash: '0xc5770255'
                          thread_hash: '0xf898c4a396ac31f4d21191e1b159b5282222a449'
                          parent_hash: '0xf898c4a396ac31f4d21191e1b159b5282222a449'
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/pinata
                          parent_author:
                            uid: 17940
                            fid: 17940
                            custody_address: '0xe904715b3f63b4fbbbcae0fb8996f250d79d470a'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 399
                            follower_count: 3259
                            verifications:
                              - '0xac1c4bed1c7c71fd3afde11e2bd4f18d969c843d'
                              - >-
                                0xceecd9664ea11f446ca059e3aad6b18adb19d8389272e80f7530cbafc288217d
                            bio: |-
                              Co-Founder at https://aunova.net

                              Follow Me: https://metaend.eth.limo
                            display_name: MetaEnd — 🎩/dau
                            pfp_url: https://i.imgur.com/FF6aDOd.jpg
                            username: metaend.eth
                          author:
                            uid: 20591
                            fid: 20591
                            custody_address: '0x62402434701e0ce0ae4ea4b3caf68230a6ddbe43'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 13
                            follower_count: 248
                            verifications:
                              - '0x5ba9355a10611ed4339526472a59befed3549bad'
                            bio: >-
                              Everyone is from somewhere. Cofounder and CEO of
                              Pinata. https://www.pinata.cloud/farcaster
                            display_name: Kyle Tut
                            pfp_url: https://i.imgur.com/TLMFnH6.jpg
                            username: kyletut
                          content: 🔥🐸🪅
                          timestamp: '2024-03-07T11:07:27Z'
                          embeds: []
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 17940
                          hash: '0xf898c4a396ac31f4d21191e1b159b5282222a449'
                          short_hash: '0xf898c4a3'
                          thread_hash: null
                          parent_hash: null
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/pinata
                          parent_author: null
                          author:
                            uid: 17940
                            fid: 17940
                            custody_address: '0xe904715b3f63b4fbbbcae0fb8996f250d79d470a'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 399
                            follower_count: 3259
                            verifications:
                              - '0xac1c4bed1c7c71fd3afde11e2bd4f18d969c843d'
                              - >-
                                0xceecd9664ea11f446ca059e3aad6b18adb19d8389272e80f7530cbafc288217d
                            bio: |-
                              Co-Founder at https://aunova.net

                              Follow Me: https://metaend.eth.limo
                            display_name: MetaEnd — 🎩/dau
                            pfp_url: https://i.imgur.com/FF6aDOd.jpg
                            username: metaend.eth
                          content: |-
                            Built with 🐸 & 🪅 middleware 👏 

                            https://frog-fsmma.vercel.app/api
                          timestamp: '2024-03-07T10:30:39Z'
                          embeds:
                            - url: https://i.imgur.com/auscEPV.png
                            - url: https://frog-fsmma.vercel.app/api
                          reactions:
                            likes:
                              - fid: 239533
                                fname: cointf.eth
                              - fid: 4823
                                fname: polluterofminds
                              - fid: 191294
                                fname: benbassler.eth
                              - fid: 379965
                                fname: hannam-best
                              - fid: 236942
                                fname: yudikawula
                              - fid: 17420
                                fname: qa
                              - fid: 317563
                                fname: mkmizan
                              - fid: 6546
                                fname: artlu
                              - fid: 378295
                                fname: sabinaaa
                              - fid: 267385
                                fname: alikhan
                              - fid: 20591
                                fname: kyletut
                              - fid: 6023
                                fname: stevedylandev.eth
                              - fid: 323610
                                fname: henz
                              - fid: 1407
                                fname: thisiszinger.eth
                              - fid: 338803
                                fname: shahinpk
                              - fid: 267974
                                fname: bitcery
                            recasts:
                              - fid: 20591
                                fname: kyletut
                              - fid: 239533
                                fname: cointf.eth
                              - fid: 267385
                                fname: alikhan
                              - fid: 236942
                                fname: yudikawula
                          replies:
                            count: 3
                          mentioned_profiles: []
                        - fid: 6023
                          hash: '0x12285ec0e6e223a3bb4b66b447a98a1495aa72e0'
                          short_hash: '0x12285ec0'
                          thread_hash: null
                          parent_hash: null
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/pinata
                          parent_author: null
                          author:
                            uid: 6023
                            fid: 6023
                            custody_address: '0x456131161f83c7d7fda15b32a5f7c21fd4e27e96'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 624
                            follower_count: 3978
                            verifications:
                              - '0xad73eafcac4f4c6755dfc61770875fb8b6bc8a25'
                            bio: >-
                              Head of Developer Relations at /pinata | Technical
                              Writer | Building honeythread.xyz | stevedylan.dev
                            display_name: Steve
                            pfp_url: >-
                              https://p765cpbvm0.execute-api.eu-central-1.amazonaws.com/p1/renderer/Minteeble/chain/base/collection/6e0b39a5-8569-4e67-b330-d352593c9629/image/176.png
                            username: stevedylandev.eth
                          content: You love to see it 🔥🔥
                          timestamp: '2024-03-07T02:57:45Z'
                          embeds:
                            - castId:
                                fid: 380956
                                hash: '0x0fa0495efb6055aba3372fc3ad09bc9507818320'
                          reactions:
                            likes:
                              - fid: 196950
                                fname: marjorie
                              - fid: 367075
                                fname: borna
                              - fid: 222896
                                fname: pamadd
                              - fid: 380956
                                fname: 0xdexplorer
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 196950
                          hash: '0xd40c98f6461564c3c5f588b8b3df9e1804185470'
                          short_hash: '0xd40c98f6'
                          thread_hash: null
                          parent_hash: null
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/pinata
                          parent_author: null
                          author:
                            uid: 196950
                            fid: 196950
                            custody_address: '0xbe8f7924d99f529aede4c5ca1fe05d34c28d2216'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 151
                            follower_count: 477
                            verifications:
                              - '0x6f392f699a6ae69fe0b5279e303cda47dab9a127'
                              - '0xcf472a57a79d4bba49755091e6a4c3acf8a43ff0'
                            bio: >-
                              Design wizard @pinatacloud | 🪴 Pottery maker | 
                              🏀 NBA | 🐾 Dog lover | ☁️ Living the dream 
                            display_name: 'Marge '
                            pfp_url: https://i.imgur.com/96aBPh1.gif
                            username: marjorie
                          content: Cosmic cowboys demo is next on NPC day 🤠🚀
                          timestamp: '2024-02-28T22:45:22Z'
                          embeds:
                            - url: https://i.imgur.com/wueNZGN.jpg
                          reactions:
                            likes:
                              - fid: 6023
                                fname: stevedylandev.eth
                              - fid: 4823
                                fname: polluterofminds
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 375365
                          hash: '0x1e521101716fb80a746925fd07944a00c26af7a8'
                          short_hash: '0x1e521101'
                          thread_hash: '0xd0ab4831bc9e630397f4b93aaa26e3a539047802'
                          parent_hash: '0xd0ab4831bc9e630397f4b93aaa26e3a539047802'
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/pinata
                          parent_author:
                            uid: 4823
                            fid: 4823
                            custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 837
                            follower_count: 13433
                            verifications:
                              - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                              - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                            bio: >-
                              Writer. Building @pinatacloud. Tinkering with a
                              Farcaster native alternative to GoodReads:
                              https://readcast.xyz \ https://polluterofminds.com
                            display_name: Justin Hunter
                            pfp_url: >-
                              https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                            username: polluterofminds
                          author:
                            uid: 375363
                            fid: 375365
                            custody_address: '0xb41ef9105e8f67ef700d3ca01b6160bc49412ed1'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 79
                            follower_count: 4
                            verifications: []
                            bio: Ave
                            display_name: Alba
                            pfp_url: https://i.imgur.com/UOyWm2n.jpg
                            username: albatross
                          content: Kkkk
                          timestamp: '2024-02-28T22:22:03Z'
                          embeds: []
                          reactions:
                            likes:
                              - fid: 4823
                                fname: polluterofminds
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 15974
                          hash: '0x5b58c439e76ed8abea29c88d3bdd4b9d61396ba3'
                          short_hash: '0x5b58c439'
                          thread_hash: null
                          parent_hash: null
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/pinata
                          parent_author: null
                          author:
                            uid: 15974
                            fid: 15974
                            custody_address: '0xe02370ad4ce08a56dfbf66e10dc16ff953351170'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 93
                            follower_count: 91
                            verifications:
                              - '0x9b7c18a71a98acd2f1271e2d1fe63750a70bc52b'
                            bio: software engineer @ pinata 🎉
                            display_name: 'Paige '
                            pfp_url: https://i.imgur.com/pAWGFH7.jpg
                            username: paigexx
                          content: NPC day is in full swing at /ethdenver, stop by.
                          timestamp: '2024-02-28T21:50:27Z'
                          embeds:
                            - url: https://i.imgur.com/9dPtfor.jpg
                          reactions:
                            likes:
                              - fid: 261900
                                fname: whimsylindsey
                              - fid: 6023
                                fname: stevedylandev.eth
                            recasts:
                              - fid: 6023
                                fname: stevedylandev.eth
                          replies:
                            count: 0
                          mentioned_profiles: []
                        - fid: 194479
                          hash: '0x688f23669c37bfb4ab66ebcac2d3ce2cb6890f97'
                          short_hash: '0x688f2366'
                          thread_hash: '0xd0ab4831bc9e630397f4b93aaa26e3a539047802'
                          parent_hash: '0x101b65994c62c44187dee70d3f8df07acf818d07'
                          parent_url: null
                          root_parent_url: https://warpcast.com/~/channel/pinata
                          parent_author:
                            uid: 20591
                            fid: 20591
                            custody_address: '0x62402434701e0ce0ae4ea4b3caf68230a6ddbe43'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 13
                            follower_count: 248
                            verifications:
                              - '0x5ba9355a10611ed4339526472a59befed3549bad'
                            bio: >-
                              Everyone is from somewhere. Cofounder and CEO of
                              Pinata. https://www.pinata.cloud/farcaster
                            display_name: Kyle Tut
                            pfp_url: https://i.imgur.com/TLMFnH6.jpg
                            username: kyletut
                          author:
                            uid: 194479
                            fid: 194479
                            custody_address: '0x8bd9dbea5afe63832b1c6b0b7b3b9d147c2f7978'
                            recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                            following_count: 167
                            follower_count: 124
                            verifications:
                              - '0x4f80864cd68782144e3736626896990acae15a11'
                            bio: Building Data 3.0 @ /indexing
                            display_name: Brock
                            pfp_url: https://i.imgur.com/Ru4rcvg.jpg
                            username: runninyeti.eth
                          content: '"distributed computing"'
                          timestamp: '2024-02-28T21:40:31Z'
                          embeds: []
                          reactions: {}
                          replies:
                            count: 0
                          mentioned_profiles: []
                      next_page_token: eyJvZmZzZXQiOiIwIn0
  /channels:
    get:
      tags:
        - default
      summary: Channels List
      parameters:
        - name: pageSize
          in: query
          schema:
            type: integer
          description: Determine the number of results, if not specified default is 100
          example: '10'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Thu, 07 Mar 2024 14:48:12 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Request-Id:
              schema:
                type: string
                example: 4085920ee6d8a206208d0874fa4941f8
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  channels:
                    - name: bharat
                      url: https://warpcast.com/~/channel/bharat
                      display_name: भारत
                      description: भारत, अर्थात् इंडिया - भारतीय संविधान (अनुच्छेद-1)
                      image_url: https://i.imgur.com/7Y2MCiq.jpg
                      lead_fid: 228245
                      created_at: 1709667740
                    - name: preseeds
                      url: https://warpcast.com/~/channel/preseeds
                      display_name: preseeds
                      description: >-
                        request ideas to be built & problems to be solved,
                        launch the movement, and degen the upside. earn
                        contributions (aka points) @preseeds
                      image_url: https://i.imgur.com/MGzdAS9.png
                      lead_fid: 10906
                      created_at: 1709665976
                    - name: away
                      url: https://warpcast.com/~/channel/away
                      display_name: away
                      description: >-
                        https://faraway.fun


                        What are you doing when you're not on Farcaster? Set
                        your away message to let everyone know what you're up to
                        while you're AFK.
                      image_url: https://i.imgur.com/kWTjga8.png
                      lead_fid: 4929
                      created_at: 1709664983
                    - name: celo
                      url: https://warpcast.com/~/channel/celo
                      display_name: celo
                      description: ''
                      image_url: https://i.imgur.com/spdix5e.png
                      lead_fid: 293320
                      created_at: 1709664851
                    - name: introvert
                      url: https://warpcast.com/~/channel/introvert
                      display_name: introvert
                      description: 🫥 The introvert life 🫥
                      image_url: https://i.imgur.com/UD9HwVp.jpg
                      lead_fid: 364533
                      created_at: 1709661592
                    - name: metaliminal
                      url: https://warpcast.com/~/channel/metaliminal
                      display_name: metaliminal
                      description: Between reality and abstraction.
                      image_url: https://i.imgur.com/LD1dZh1.jpg
                      lead_fid: 9055
                      created_at: 1709660652
                    - name: follows
                      url: https://warpcast.com/~/channel/follows
                      display_name: Follows.app
                      description: ''
                      image_url: https://i.imgur.com/jxAUYwK.png
                      lead_fid: 279151
                      created_at: 1709660170
                    - name: brad
                      url: https://warpcast.com/~/channel/brad
                      display_name: brad
                      description: ''
                      image_url: https://i.imgur.com/RQJYZMq.png
                      lead_fid: 9
                      created_at: 1709653753
                    - name: stay-rich
                      url: https://warpcast.com/~/channel/stay-rich
                      display_name: Stay Rich
                      description: >-
                        A channel to help crypto investors STAY RICH. Helping
                        degens realize wife changing profits. Hosted by
                        trailmix.cash
                      image_url: https://i.imgur.com/Db26a9q.png
                      lead_fid: 18059
                      created_at: 1709652746
                    - name: cryptopiskelli
                      url: https://warpcast.com/~/channel/cryptopiskelli
                      display_name: cryptopiskelli
                      description: ''
                      image_url: https://i.imgur.com/2s9ZUpI.jpg
                      lead_fid: 4923
                      created_at: 1709646725
                  next_page_token: eyJvZmZzZXQiOiIxMCJ9
  /channels/{name}:
    get:
      tags:
        - default
      summary: Channel By Name
      parameters:
        - name: name
          in: path
          schema:
            type: string
          required: true
          description: Display name for the channel you are trying to fetch
          example: pinata
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 06 Mar 2024 18:56:33 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '252'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Request-Id:
              schema:
                type: string
                example: a752e5f91d68dee584286e893eea6398
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  name: pinata
                  url: https://warpcast.com/~/channel/pinata
                  display_name: pinata
                  description: Build on IPFS and Farcaster at Scale | pinata.cloud
                  image_url: https://i.imgur.com/u4mGk5b.gif
                  lead_fid: 20591
                  created_at: 1706890562
  /users/{fid}:
    get:
      tags:
        - default
      summary: User By FID
      parameters:
        - name: fid
          in: path
          schema:
            type: integer
          required: true
          description: FID for the user you are trying to fetch
          example: '4823'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 06 Mar 2024 18:47:00 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '674'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Request-Id:
              schema:
                type: string
                example: 6529728aebb6ebf8b575c502cc4c4a4e
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  fid: 4823
                  custody_address: '0x7f9a6992a54dc2f23f1105921715bd61811e5b71'
                  recovery_address: '0x00000000fcb080a4d6c39a9354da9eb9bc104cd7'
                  following_count: 811
                  follower_count: 11049
                  verifications:
                    - '0x1612c6dff0eb5811108b709a30d8150495ce9cc5'
                    - '0xcdcdc174901b12e87cc82471a2a2bd6181c89392'
                  bio: >-
                    Writer. Building @pinatacloud. Tinkering with a Farcaster
                    native alternative to GoodReads: https://readcast.xyz \
                    https://polluterofminds.com
                  display_name: Justin Hunter
                  pfp_url: >-
                    https://i.seadn.io/gae/lhGgt7yK1JiBVYz_HBxcAmYLRtP03aw5xKX4FgmFT9Ai7kLD5egzlLvb0lkuRNl28shtjr07DC8IHzLUkTqlWUMndUzC9R5_MSxH3g?w=500&auto=format
                  username: polluterofminds
  /users:
    get:
      tags:
        - default
      summary: Users
      parameters:
        - name: fid
          in: query
          schema:
            type: integer
          description: Used in combination with `followers` and `following`
          example: '4823'
        - name: followers
          in: query
          schema:
            type: boolean
          description: >-
            When used with `fid` will return the followers of the specified
            `fid`
          example: 'true'
[...]
